colorama==0.3.7
falcon==1.1.0
falcon-cors==1.1.2
gunicorn==19.6.0
jsonschema==2.5.1
peewee==2.8.5
peewee-db-evolve==0.5.1
pkg-resources==0.0.0
psycopg2==2.6.2
PyJWT==1.4.2
python-mimeparse==1.6.0
requests==2.12.4
rethinkdb==2.3.0.post6
schema==0.6.5
six==1.10.0
